/* Space out content a bit */
body {
  
  padding-bottom: 20px;
}

#header {
 background-image: url(../images/recipeheader_gradient.jpg);
    height:400px;
    background-size:cover;
    color:white;
}

#header-2 {
 background-image: url(../images/recipeheader_gradient.jpg);
    height:75px;
    background-size:cover;
    color:white;
}

#headerimage {
    background-image: url(../images/coatesvillemaproutecopy.png); 
}

.introduction {
    margin-top:50px; 
}

.introduction > h1 {
    font-size:50px;   
}

.homelink_wrapper {
 padding-left:0px;   
}

a.homelink {
    color:white;   
}

a.homelink:hover {
    color:white; 
    text-decoration: none;
}

.aboutlink_wrapper {
    margin-top:15px; 
    
}

a.aboutlink {
    color:white;   
}

a.aboutlink:hover {
    color:white; 
    text-decoration: none;
}


/* Madlib Form Styling */
.preferences {
    padding-top:50px;
    color:#dc6500;  
}

.preferences h3 {
    font-size:36px;   
}

.madlibform_wrapper {
    
}

.madlibform {
    margin-top:50px;
    margin-bottom:50px;
    color:#1e0722; 
    padding-top:25px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:50px;
    font-size:40px;
    border-top:1px solid #290a59;
   
}

.border_bottom {
    padding-top:50px;
     border-bottom:1px solid #290a59;   
}

input, select {
    border:none;
    border-bottom:#C6C6C5 dotted 1px;
}

input:focus{
    border:black 1px solid;
}

/* custom placeholder color */
input::-webkit-input-placeholder {
	color: rgba(198,198,198,0.3);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: rgba(198,198,198,0.3);
}

input::-moz-placeholder {
	color: rgba(198,198,198,0.3);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
	color: rgba(198,198,198,0.3);
}

input:-ms-input-placeholder {  
	color: rgba(198,198,198,0.3);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
	color: rgba(198,198,198,0.3);
}

a#mix_button {
    text-decoration: none;   
}

.mix_button_wrapper {
    margin-top:50px;
}



.mix_button {
    background-color:#868686;
    text-decoration: none;
    
}

.mix_button:hover {
    background-color:#868686;
    text-decoration: none;
}

.mix_button_bg {
    background-color: #dc6500;
    text-align: center;
    padding-top:2px;
    padding-bottom:10px;
    color:white;
    text-decoration: none;
    -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.mix_button_bg:visited {
    background-color: #868686;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
    color:white;
    text-decoration: none;
}

.mix_button_bg:hover {
   
    text-align: center;
    padding-top:2px;
    padding-bottom:10px;
    color:white;
    text-decoration: none;
    -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
    
    background: #ff7c00; /* Old browsers */
    background: -moz-linear-gradient(left, #ff7c00 0%, #120317 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff7c00), color-stop(100%,#120317)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ff7c00 0%,#120317 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ff7c00 0%,#120317 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ff7c00 0%,#120317 100%); /* IE10+ */
    background: linear-gradient(to right, #ff7c00 0%,#f120317 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7c00', endColorstr='#120317',GradientType=1 ); /* IE6-9 */
}

.button_wrapper {
    margin-bottom:100px;
}

a#print_button:hover, a#export_button:hover, a#remix_button:hover {
    text-decoration: none; 
}

.remix_button_wrapper, .print_button_wrapper, .export_button_wrapper {
    padding-left:0px;   
    padding-right:0px;
    border-right:1px solid white;
}

.recipe_results {
    padding-left:0px;
    margin-bottom:100px;
    border-bottom:1px solid #C6C6C5;
}

.trythis {
    margin-top:75px;
    margin-bottom:75px; 
    color:#dc6500;
}

.climb {
    padding-top:25px;
   color:#C6C6C5; 
}

.calories {
    padding-right:0px;
    padding-bottom:30px;
    padding-top:25px;
    border-bottom:1px solid #C6C6C5;
    color:#C6C6C5;
}

.calories > h1, .climb > h1 {
    color:#dc6500;   
}

.map {
    padding-right:0px;   
}

.quick_info {
    padding-left:0px;
    padding-right:0px;
    text-align: center;   
    border-right:1px #C6C6C5 solid;
    vertical-align:middle;
    height:305px;
}

footer {
    background-color:#1e0722;
    height:100px;
    color:white;
    padding-top:30px;
    padding-bottom:25px;
    text-align: center;
}

a.yummly, a.portfolio {
    color:#dc6500;   
}



/* Custom page footer
.footer {
    background-color:#868686;
    height:50px;
    padding-top: 15px;
    padding-bottom: 15px;
  color: white;
  border-top: 1px solid #e5e5e5;
} */

/* Main marketing message and sign up button */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
